---
/* =========================================================
   Bloco 3.1 — Imports (ALTERE AQUI se mudar caminhos)
   ========================================================= */
import Layout from "../layouts/Layout.astro";
import Hero from "../components/hero/Hero.vue";
---

<Layout title="DenisCode">
  <main>
    <!-- =========================================================
         Bloco 3.2 — Hero
         ========================================================= -->
    <Hero client:load />
  </main>
</Layout>
